.posbase{
	position: relative;
}

.posright{
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 999;
}

.white{
	background: #FFFFFF;
	filter: alpha(opacity=72); 
	-moz-opacity:0.72;
}

.blockintend{
	padding: 0px 20px 0px 20px;
}

.allheight{
	height: 100%
}